RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL="overturned_ <intake@yourdomain.com>"
INTAKE_NOTIFICATION_TO=you@yourdomain.com
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/your_web_app_id/exec
